.header__email {
    color: #FFF;
    text-align: right;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin: 6px 0 0 0;
}