.login__input {
    border: 0;
    width: 100%;
    max-width: 358px;
    height: 27px;
    box-sizing: border-box;
    border-bottom: 1px solid  #CCC;;
    outline: none;
    color: #CCC;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    background-color: transparent;
    padding-bottom: 13px;
}