.form__text {
    border: 0;
    width: 100%;
    max-width: 358px;
    height: 27px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    background-color: transparent;
    font-size: 14px;
    line-height: 17px;
    font-family: inherit;
    padding: 0;
}

@media screen and (max-width: 721px) {
    
    .form__text {
        max-width: 238px;
    }
}