.element__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/Like.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding-right: 5px;
}

.element__like:hover {
    opacity: 0.5;
}